
*.swp
Gillespie/sim.out
Gillespie/main
Gillespie/main
Gillespie/main
Gillespie/main
Gillespie/sim.out
.DS_Store
Gillespie/.DS_Store
random/.makefileok
Gillespie/ipu_mntCount.txt
*.filepart
Gillespie/ipu_wldCount.txt
*.png
*.txt
*.pdf
*.pbxproj
*.xcworkspacedata
*.plist
*.xcuserstate
*.plist
ABC_SMC/simulated_data/.Rhistory
Gillespie/.Rhistory
Gillespie/R_stuff/Untitled.R
time_gillespie/CPU/a.out
